.package-explorer {

}

.package-explorer__stmt {
  margin: 8px;
  padding: 8px;
  background: cyan;
  border-radius: 8px;
  cursor: pointer;
}

.package-explorer__package {
  margin: 8px;
  padding: 8px;
  background: orange;
  border-radius: 8px;
  cursor: pointer;
}
